body {
    background-color: hsla(189, 87%, 58%, 0.543);}
     
     .jumbotron {
         background-image: url("../images/bellytip.jpg");
         background-size: cover;
         text-align: center;
         color: rgb(45, 103, 226)
     }